<%= form_with(model: installation, local: true) do |form| %>
  <% if installation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(installation.errors.count, "error") %> prohibited this installation from being saved:</h2>

      <ul>
      <% installation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :campus %>
    <%= form.text_field :campus %>
  </div>

  <div class="field">
    <%= form.label :complement %>
    <%= form.text_field :complement %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
