<p id="notice"><%= notice %></p>
<div class="img-container">
  <%= image_tag("logo.png", :alt => "Logo")%>
</div>
<h1 class="title">Instalações</h1>
<section>
  <% @installations.each do |installation| %>
    <%= link_to  installation,  class: "card" do%>
      <div class="container">
        <ul>
          <div class="installation_detail">
            <li>Instalação: <%= installation.name %></li>
          </div>
          <div class="installation_detail">
            <li >Usuário responsável: <%= installation.user.name %></li>
          </div>
          <div class="installation_detail">
            <li >Campus: <%= installation.campus %></li>
          </div>
          <div class="installation_detail">
            <li >Numeros de sensores diretos: <%= installation.sensors.length %></li>
          </div>
          <div class="installation_detail">
            <li >Numeros de sensores indiretos: <%= installation.length_recursive %></li>
          </div>
          <% if installation.complement %>
            <div class="installation_detail">
              <li>Detalhes: <%= installation.complement %></li>
            </div>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
</section>
<div>
  <%= link_to 'New Installation', new_installation_path %>
</div>
<%
=begin%>
<li><%= link_to 'Show', installation %></li>
<li><%= link_to 'Edit', edit_installation_path(installation) %></li>
<li><%= link_to 'Destroy', installation, method: :delete, data: { confirm: 'Are you sure?' } %></li>
<%
=end%>
