<p id="notice"><%= notice %></p>

<div class="img-container">
  <%= image_tag("logo.png", :alt => "Logo")%>
</div>

<h1 class="title">Equipamentos da sala</h1>
<h2 class="title">Sala: <%=@installation.name%></h2>
<%= link_to  "sensores da instalação", installation_sensors_path(@installation) %>
<% @installation.equipments.each do |equipment|%>
  <%= link_to  equipment do%>
    <div class="container card">
      <ul>
        <div class="installation_detail">
          <li>Equipamento: <%= equipment.name %></li>
        </div>
    </div>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_installation_path(@installation) %> |
<%= link_to 'Back', installations_path %>
