<p id="notice"><%= notice %></p>
<head>
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
</head>
<div class="img-container">
  <%= image_tag("logo.png", :alt => "Logo")%>
</div>
<h1 class="title">Equipamentos</h1>
<% @equipments.each do |equipment| %>
  <div class="container card">
    <ul>
      <li class="equipment-name">Nome do Equipamento: <%= equipment.name %></li>
      <li>Sala: <%= equipment.installation.name %></li>
      <li >Numeros de sensores indiretos: <%= installation.length_recursive %></li>
    </ul>
    <td><%= link_to 'Show', equipment %></td>
    <td><%= link_to 'Edit', edit_equipment_path(equipment) %></td>
    <td><%= link_to 'Destroy', equipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </div>
<% end %>
<div class="link-div">
  <%= link_to 'Novo Equipamento', new_equipment_path %>
</div>
