<p id="notice"><%= notice %></p>
<div class="img-container">
  <%= image_tag("logo.png", :alt => "Logo")%>
</div>
<h1 class="title">Equipamento</h1>
<div class="container">
  <h2><%= @equipment.name %></h2>
  <div class="sensores">
    
    
    <ul>
      <% @equipment.sensors.each do |sensor|%>
        <li><span><%=sensor.identifier%></span><span>dados</span></li>
      <% end %>
      </ul>
  </div>
  <div class="link-div">
    <%= link_to 'Editar', edit_equipment_path(@equipment) %>
    <%= link_to 'Voltar', (@equipment.installation) %>
  </div>
</div>