<p id="notice"><%= notice %></p>

<p>
  <strong>Identifier:</strong>
  <%= @sensor.identifier %>
</p>

<%= link_to 'Edit', edit_installation_sensor_path(@sensor) %> |
<%= link_to 'Back', installation_sensors_path %>
