<p id="notice"><%= notice %></p>

<h1>Sensores da Instalação <%= @equipment.name %></h1>

<table>
  <thead>
    <tr>
      <th>Identifier</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment.sensors.each do |sensor| %>
      <tr>
        <td><%= sensor.identifier %></td>
        <td><%= link_to  "editar", edit_equipment_sensor_path(@equipment, sensor) %></td>
        <td><%= link_to  "delete", equipment_sensor_path(@equipment, sensor), method: :delete  %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sensor', new_equipment_sensor_path %>
