<p id="notice"><%= notice %></p>

<p>
  <strong>Identifier:</strong>
  <%= @sensor.identifier %>
</p>

<%= link_to 'Edit', edit_equipment_sensor_path(@equipment,@sensor) %> |
<%= link_to 'Back', equipment_sensors_path(@equipment) %>
