// Place all the styles related to the Equipment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    background: linear-gradient(#0D1440, #266BD1);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container{
    padding: 20px 0;
}

.img-container img{
    height: 150px;
}

.title{
    color: #fafafa;
    font-size: 3.35em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

.container{
    background: #fafafa;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    border-radius: 40px;
    display: flex;
    padding: 20px;

    width: 100%;
    max-width: 700px;
    display: flex;
    padding: 40px;
    flex-direction: column;
}


.container ul li{
    margin-bottom:5px;
}

.card {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

.card:last-child {
    margin-bottom: 0;
}

.sensores{
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}

.sensores ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0;
}

.sensores ul li span:first-child{
    margin-left: 50px;
}

.sensores ul li::before{
    content: "";
    position: absolute;
    height: 40px; width: 40px;
    border-radius: 50%;
    background-color: green;
}

.link-div{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-div a{
    text-align: center;
    margin: 10px 0;
    background-color: #BF1736;
    border-radius: 15px;
    padding: 10px 20px;
    text-decoration: none;
    display: flex;
    color: #fafafa;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 95%;
}