// Place all the styles related to the Installations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
    background: linear-gradient(#0D1440, #266BD1);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.img-container{
    padding: 20px 0;
}

.img-container img{
    height: 150px;
}

.title{
    color: #fafafa;
    font-size: 3.35em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-bottom: 30px;
}

.container{
    background: #fafafa;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
    border-radius: 40px;
    display: flex;
    padding: 20px;

    width: 100%;
    max-width: 700px;
    display: flex;
    padding: 40px;
    flex-direction: column;
}

.card {
    margin-bottom: 10px;
}

.container ul li{
    margin-bottom:5px;
}

.installation_detail {
    margin-bottom: 20px;
}

.installation_detail:last-child {
    margin-bottom: 0;
}